@{
    ViewData["Title"] = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
            <img class="d-block w-100 " style="height:520px" src="~/Uploads/pexels-roman-odintsov-4553111.jpg" alt="pic" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Italian.Pizza</h1>
                    <p>U Can Order Any Type Of Pizza.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item container-fluid">
            <img class="d-block w-100 " style="height:520px" src="~/Uploads/pexels-engin-akyurt-2725744.jpg" alt="pic" />


            <div class="container">
                <div class="carousel-caption">
                    <h1>Fries And Burger</h1>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item container-fluid">
            <img class="d-block w-100 " style="height:520px" src="~/Uploads/pexels-valeria-boltneva-1639557.jpg" alt="pic" />


            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>BURGERS</h1>
                    <p>U Can Order Any Type Of Burgers.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


   

    <!-- /END THE FEATURETTES -->
